<div class="nested-fields">
	<p>配送先</p>
	<p><%= f.text_field :delivery_postal_code, :placeholder => "配送先郵便番号" %>
	<%= f.text_field :delivery_address, :placeholder => "配送先住所" %>
	<%= f.text_field :delivery_name, :placeholder => "配送先名前" %>
	<%= link_to_remove_association "配送先削除", f %></p>
</div>