/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*======== 設定 ========*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.container {
	background-color: #EEEEEE;
	padding: 0;
}

.image1 {
background-image: url(image1.jpg);
}
.image2 {
background-image: url(image2.jpg);
}
.image3 {
background-image: url(image3.jpg);
}
.image4 {
background-image: url(image4.jpg);
}
.image5 {
background-image: url(image5.jpg);
}

#container{
	height: 500px;
	position: relative;
}

.show_container {
	position: relative;
}

.title {
	position: absolute;
	top: 0px;
	left: 20px;
	font-family: "futura";
}

.title > a{
	text-decoration: none;
	color: white;
}

.index_container {
}

.search_container {
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
}

#slidemenu {
	// display: none;
}
.user_show_th {
	vertical-align: middle;
	white-space: nowrap;
}
.user_show_td {
	white-space: nowrap;
	width: auto;
}
.user_show_table {
	width: 1000px;
}

.table > tbody > tr > td {
	vertical-align: middle;
	width: auto;
	white-space: nowrap;
}

.cd_index {
	text-align: center;
}

.cd_info {
	width: 300px;
	background-color: #fff;
	text-align: center;
}

.index_title {
	font-family: "TTCommons-Light";
	font-size: 32px;
	text-align: center;
}

.index_subtitle {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", "YuGothic", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Roboto, "Droid Sans", sans-serif;
	font-size: 12px;
	text-align: center;
}

.index_nav {
	list-style: none;
}

.menu {
	height: 100px;
	line-height: 100px;
	// background-color: #F3BAAA;
	// overflow: auto;
}

.index_nav > li {
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

li > a {
	color: #0E0E0E;

.search-field {
	padding: 15px;
}

.jumbotron {
	background-image: url(image6);
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
}

.cd_new_form {
	width: 265px;
	height: 40px;
	margin-bottom: 15px;
}

.disc_new_form {
	width: 200px;
	height: 30px;
}
.disc_nom_form {
	width: 65px;
	height: 30px;
}

.add-btn {
	width: 265px;
	margin-bottom: 15px;
}

.padding-top-15 {
	padding-top: 15px;
}

.text-align-center {
	text-align: center;
}