/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*======== 設定 ========*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.image1 {
background-image: url(image1.jpg);
}
.image2 {
background-image: url(image2.jpg);
}
.image3 {
background-image: url(image3.jpg);
}
.image4 {
background-image: url(image4.jpg);
}
.image5 {
background-image: url(image5.jpg);
}

#container{
	height: 500px;
}

.search_container {
	float: right;
	z-index: 10;
}

.cd_index {
	margin-top: 100px;
}

#slidemenu {
	display: none;
}
.user_show_th {
	vertical-align: middle;
	white-space: nowrap;
}
.user_show_td {
	white-space: nowrap;
	width: auto;
}
.user_show_table {
	width: 1000;
}

.table > tbody > tr > td {
	vertical-align: middle;
	width: auto;
	white-space: nowrap;
}

.search-field {
	padding: 15px;
}

.jumbotron {
	background-image: url(image6);
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
}
